.main-text {
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid rgb(93, 93, 93, 0.3);
}
.main-about{
    margin-left: 150px;
    margin-right: 150px;
}

.main-text2{
    margin-left: 40px;
    margin-right: 40px;
}

.main-text3 {
    margin-left: 40px;
    margin-right: 40px;
}

.main-text4 {
    margin-left: 40px;
    margin-right: 40px;
}